.project{ 
    border: 1px solid gold;  
    background-color: grey; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
    height: 50%;  
}

.video-stream{
    margin-top: 2%;
    margin-left: 2%; 
    margin-right: 2%;  
    width: 96%;  
    height: 48%; 
}
iframe{
    margin-top: 2%;
    margin-left: 2%; 
    margin-right: 2%;  
    width: 96%;  
    height: 48%; 
}



.projectNav{
    background-color: darkgray;
    position: relative;
    top: -10%;  
    width: 40%; 
    height: 20%; 
}

.projectNav:hover{ 
    background-color: yellow; 
}

.left{ 
    float: left; 
    left: -18%; 
}
.right{ 
    float: right;
    right: -18%;  
}

@media only screen and (min-width: 360px){ 
    .project{ 
        width: 50%; 
        height: 60%; 
    }
}
@media only screen and (min-width: 640px) { 
    .project{ 
        width: 40%; 
        height: 65%;  
    }
}

@media only screen and (min-width: 900px) { 
    .project{ 
        width: 40%;
        height: 75%;  
    }
}

@media only screen and (min-width: 1200px) { 
    .project{ 
        width: 30%; 
        height: 70%; 
    }
}


@media only screen and (min-width: 1500px) { 
    .project{ 
        width: 25%; 
        height: 75%; 
    }
}

